body {
    position: relative;
    background: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}


div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    
}

img {
    border-radius: 10%;
    border: solid #2b2d2f;
}

.shadow {
    width: 500px;
    height: 500px;
    border-radius: 10%;
box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
}